.btn-align-right {float: right;cursor: pointer;}
.mg-top-25{margin-top: 25px;}
.card-text{font-size: 1rem;}
.card-body.text-danger h5{font-size: 1rem;}
.mg-bt-25{margin-bottom: 25px;}
.mg-tp-25{margin-top: 25px;}