<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">iHungry</a>  
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/fernandoantunessilva" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/fernando-antunes-da-silva-7b378331/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>      
    </div>
  </div>
</nav>
